* {
    margin: auto;
    text-align: center;
}

nav {
    margin-bottom: 1rem;
    background-color: #134611;
    height: 2.5rem;
}

.title {
    font-family: 'Graduate', cursive;
    font-size: 6rem;
}

.home-desc {
    font-family: 'Libre Franklin', sans-serif;
    font-style: italic;
}

h3 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
}